<% posts.each do |post| %>
    <div class="media">
    <!-- Pull the post image left, or use default image -->
      <a class="pull-left" href="#">
        <% if post.image? %>
          <%=  image_tag(post.image.image_thumb.url, class: 'media-object thumbnail') %>
        <% else %>
          <%= image_tag('fallback/default_image.jpg', class: 'media-object thumbnail', height: '55px', width: '80px') %>
        <% end %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to markdown(post.title), [@topic, post] %>
        </h4>
        <!--render submitted by/ user info/ post count etc  -->
         <%= render partial: 'users/submitted_by', locals: {topic: topic, post: post } %>
        <!--render votes -->
        <%= render partial: 'votes/voter', locals: {topic: topic, post: post } %>
        </div>
      </div>
    <% end %>