<% topic.posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to markdown(post.title), [topic, post] %>
          </h4>
          <small>
            <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
            &raquo; submitted <%= time_ago_in_words(post.created_at) %> ago by <em><%= post.user.name %></em> in <%= link_to @topic.name, topic_path %> | Comments (<%= post.comments.count %>) | Views (<%= post.views %>)
          </small>
        </div>
      </div>
<% end %>