<ol class="breadcrumb">
  <li><%= link_to home_title, root_path %></li>
  <li><em><%= link_to "Topics", topics_path %></em></li>
</ol>
<div class="page-header">
  <h1>All Topics</h1>
</div>
 <% if policy(Topic.new).create? %>
      <%= link_to "Create New Topic", new_topic_path, class: 'btn btn-success' %>
  <% end %>
<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to topic.name, topic %>
      </h4>
    </div>
  </div>
<% end %>
<div class="last-post">
  <% if policy(Topic.new).create? %>
      <%= link_to "Create New Topic", new_topic_path, class: 'btn btn-success' %>
  <% end %>
</div>
