<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Topics", topics_path %></li>
  <li><em><%= link_to "New Topic", new_topic_path %></em></li>
</ol>

<h1>New Topic</h1>
<div class="row">
  <div class="col-md-4">
    <h3>Guidelines for topics</h3>
    <ul>
      <li>Make sure the it rhymes.</li>
      <li>Don't use the letter "A".</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-8">

    <%= form_for @topic do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter topic name'%>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 12, class: 'form-control', placeholder: "Enter topic description" %>
    </div>

    <div class="form-group">
      <%= f.label :public, class: 'checkbox' do %>
        <%= f.check_box :public %> Public Topic
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>

    <% end %>
  </div>
</div>
