<div class="page-header">
  <h3>Author Posts</h3>
</div>
<% Post.all.author.each do |post| %>
  <% if @user_id == post.user_id %>
    <div class="media">
      <a class="pull-left" href="#">
        <% if post.image? %>
          <%=  image_tag(post.image.image_thumb.url, class: 'media-object thumbnail') %>
        <% else %>
          <%= image_tag('fallback/default_image.jpg', class: 'media-object thumbnail', height: '50px', width: '75px') %>
        <% end %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to markdown(post.title), [topic, post] %>
        </h4>
        <small>
          &raquo; submitted <%= time_ago_in_words(post.created_at) %> ago by <em><%= post.user.name %></em> in <%= link_to post.topic.name, topic_path(post.topic) %> | Comments (<%= post.comments.count %>) | Views (<%= post.views %>)
        </small>
      </div>
    </div>
  <% end %>
<% end %>

