<div class="page-header">
  <h3>Related Posts</h3>
</div>
<% count = 0 %>
<% topic.posts.each do |post| %>
  <% if @id != post.id && count < 5 %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
           <%= image_tag(post.image.thumb.url) if post.image? %>
            <%= link_to markdown(post.title), [topic, post] %>
          </h4>
          <small>
            &raquo; submitted <%= time_ago_in_words(post.created_at) %> ago by <em><%= post.user.name %></em> in <%= link_to @topic.name, topic_path %> | Comments (<%= post.comments.count %>) | Views (<%= post.views %>)
          </small>
        </div>
      </div>
    <% count += 1 %>
  <% end %>
<% end %>