<h1>All Posts</h1>
<% if policy(Post.new).create? %>
  <%= link_to "Create New Post", new_post_path, class: 'btn btn-success' %>
<% end %>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
      <small>
        &raquo; submitted <%= time_ago_in_words(post.created_at) %> ago by <em><%= post.user.name %></em> | Comments (<%= post.comments.count %>) 
      </small>
    </div>
  </div>
<% end %>
<div class="last-post">
<% if policy(Post.new).create? %>
  <%= link_to "Create New Post", new_post_path, class: 'btn btn-success' %>
<% end %>
</div>