<ol class="breadcrumb">
  <li><%= link_to home_title, root_path %></li>
  <li><%= link_to "Topics", topics_path %></li>
  <li><%= link_to  @topic.name, topic_path(@topic) %></li>
  <li><%= link_to  @post.title,  topic_post_path %></li>
</ol>

<h1><%= markdown(@post.title) %></h1>

<div class="row">
  <div class="col-md-8">
      <small> submitted <%= time_ago_in_words(@post.created_at) %> ago by <em><%= @post.user.name %></em> | Comments (<%= @post.comments.count %>)
      </small>
    <hr>
    <!--main post image-->
    <%= image_tag(@post.image.url, class: "thumbnail") if @post.image? %>
    <!--main post body-->
    <p><%= markdown(@post.body) %></p>
    <!--author info -->
    <% if @post.user.avatar? %>
      <%= render partial: 'author', locals: { topic: @topic, post: @post} %>
    <% end %>
    <!--related posts --> 
    <% if @topic.post_count.to_i > 1 %>
        <%= render partial: 'related_posts', locals: { topic: @topic, post: @post} %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
    <p><%= link_to "Edit this Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %></p>
    <% end %>
  </div>
</div>

