<ol class="breadcrumb">
  <li><%= link_to home_title, root_path %></li>
  <li><%= link_to "Topics", topics_path %></li>
  <li><%= link_to  @topic.name, topic_path(@topic) %></li>
  <li><%= link_to  @post.title,  topic_post_path %></li>
</ol>

<h1><%= @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
    <p><%= link_to "Edit this Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %></p>
    <% end %>
  </div>
</div>

