<ol class="breadcrumb">
  <li><%= link_to home_title, root_path %></li>
  <li><%= link_to "Topics", topics_path %></li>
  <li><%= link_to  @post.topic.name, topic_path(@post.topic) %></li>
  <li><%= link_to  @post.title,  topic_post_path %></li>
</ol>

<!--Post main body -->
<div class="row">
  <div class="col-md-8">
    <!--Post title -->
    <h1><%= markdown(@post.title) %></h1>
    <!--Post submitted by section -->
    <small> submitted <%= time_ago_in_words(@post.created_at) %> ago by <em><%= @post.user.name %></em> | Comments (<%= @post.comments.count %>) | Views (<%= @post.views %>) |
    <!--Show post votes -->
      <%= render partial: 'votes/voter', locals: {topic: @topic, post: @post} %>
    </small>
    <hr>
    <!--Edit Post for Admins and Creators-->
    <div>
      <% if policy(@post).edit? %>
        <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-sm btn-success' %>
      <% end %>
      <!--Delete Post for Admins and Moderators-->
      <% if policy(@post).destroy? %>
        <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-sm btn-danger', confirm: 'Are you sure you want to delete this post?' %>
      <% end %>
      <!-- Post Points -->
      <h4>
        <%= pluralize(@post.points, 'point') %> | 
        <%= pluralize(@post.up_votes, 'up vote') %> | 
        <%= pluralize(@post.down_votes, 'down vote') %> | 
        <%= render partial: 'votes/voter', locals: {topic: @topic, post: @post} %>
      </h4> 
    </div>
    
    <!--main post image-->
    <%= image_tag(@post.image.url, class: "thumbnail") if @post.image? %>
    <!--main post body-->
    <p><%= markdown(@post.body) %></p>
    <!-- Favorites  -->
    <h4>
      <%= render partial: 'favorites/favorite', locals: {topic: @topic, post: @post} %>
    </h4>
    <!--author info -->
      <%= render partial: 'author', locals: { topic: @topic, post: @post} %>
    <!--comment form which will allow you to insert a new post -->
    <% if policy(@comment).create? %>
      <%= render partial: 'comments/comments_form', locals: { topic: @topic, post: @post, comment: @comment } %>
    <% end %>

 <% if !@topic.posts.empty? %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">

      <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
       <li><a href="#author_posts" data-toggle="tab">Author Posts</a></li>
      <li><a href="#related" data-toggle="tab">Related Posts</a></li>
      <li><a href="#popular" data-toggle="tab">Popular Posts</a></li>
      <li><a href="#latest" data-toggle="tab">Latest Posts</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
     <!--Post Comments-->
     <div class="tab-pane active" id="comments">
        <%= render partial: 'comments/comments', locals: { topic: @topic, post: @post } %>
      </div>
     <!--Author Posts -->
      <div class="tab-pane" id="author_posts">
        <%= render partial: 'author_posts', locals: { topic: @topic, post: @post } %>
      </div>
    <!--Related Posts -->
      <div class="tab-pane" id="related">
        <%= render partial: 'related_posts', locals: { topic: @topic, post: @post } %>
      </div>
      <!--Popular Posts -->
      <div class="tab-pane" id="popular">
         <%= render partial: 'topics/popular_posts', locals: { topic: @topic, post: @post } %>
      </div>
      <!--Latest Posts -->
      <div class="tab-pane" id="latest">
        <%= render partial: 'topics/latest_posts', locals: { topic: @topic, post: @post } %>
      </div>
    </div>
  <% end %>
  </div>

<!--Sidebar Column -->
  <div class="col-md-4">
    
  </div>
</div>

