<ol class="breadcrumb">
  <li><%= link_to home_title, root_path %></li>
  <li><%= link_to "Topics", topics_path %></li>
  <li><%= link_to  @post.topic.name, topic_path(@post.topic) %></li>
  <li><%= link_to  @post.title,  topic_post_path %></li>
</ol>

<h1><%= markdown(@post.title) %></h1>

<div class="row">
  <div class="col-md-8">
      <small> submitted <%= time_ago_in_words(@post.created_at) %> ago by <em><%= @post.user.name %></em> | Comments (<%= @post.comments.count %>)
      </small>
    <hr>
    <!--main post image-->
    <%= image_tag(@post.image.url, class: "thumbnail") if @post.image? %>
    <!--main post body-->
    <p><%= markdown(@post.body) %></p>
    <!--author info -->
      <%= render partial: 'author', locals: { topic: @topic, post: @post} %>
    <!--comment form which will allow you to insert a new post -->
      <hr/>
      <%= render partial: 'comments/comments_form', locals: { topic: @topic, post: @post, comment: @comment } %>

 <% if !@topic.posts.empty? %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">

      <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
       <li><a href="#author_posts" data-toggle="tab">Author Posts</a></li>
      <li><a href="#related" data-toggle="tab">Related Posts</a></li>
      <li><a href="#popular" data-toggle="tab">Popular Posts</a></li>
      <li><a href="#latest" data-toggle="tab">Latest Posts</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
     <!--Post Comments-->
     <div class="tab-pane active" id="comments">
        <%= render partial: 'comments/comments', locals: { post: @post } %>
      </div>
     <!--Author Posts -->
      <div class="tab-pane" id="author_posts">
        <%= render partial: 'author_posts', locals: { topic: @topic, post: @post } %>
      </div>
    <!--Related Posts -->
      <div class="tab-pane" id="related">
        <%= render partial: 'related_posts', locals: { topic: @topic, post: @post } %>
      </div>
      <!--Popular Posts -->
      <div class="tab-pane" id="popular">
         <%= render partial: 'topics/popular_posts', locals: { topic: @topic, post: @post } %>
      </div>
      <!--Latest Posts -->
      <div class="tab-pane" id="latest">
        <%= render partial: 'topics/latest_posts', locals: { topic: @topic, post: @post } %>
      </div>
    </div>
  <% end %>
  </div>

<!--Sidebar Column -->
  <div class="col-md-4">
    <% if policy(@post).edit? %>
    <p><%= link_to "Edit this Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %></p>
    <% end %>
  </div>
</div>

